/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
    /*
    background: rgba(0, 0, 0, 0.3);  /*background: #272822;*/
    font-family: 'Roboto', sans-serif;
    background-color: white
    line-height: 1.5;
    font-size: 16px;
    /*background: url(back.png) no-repeat fixed;*/
    background-position: 50%;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: #EEEEEE;
}

.web{
    background-color: #FFFFFF;
    /*background: rgba(0, 0, 0, 0.6);*/
    max-width: 1280px; 
    margin: 0 auto;
}

/*  HEADER*/
.menu
{
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    background: #EEEEEE;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.menu a{
    font-size: 20px;
    text-decoration:none;
    margin-right: 30px;
    color: #444444;
}

.menu a:hover {
    color:#3399FF;
} 
.menu a:active {
    color:#3399FF;
} 




/* PROFILE
----------------------*/

.profile {
  margin: 0 auto; 
}

.profile h1{
    color: #3399FF;
    font-size: 28px;
    overflow:auto;
    padding-left: 20px;
}
.profile h2{
    color: #666666;
    font-size: 20px;
    overflow:auto;
    padding-left: 20px;
}
.profile h3{
    color: #999999;
    font-size: 14px;
    overflow:auto;
    padding-left: 20px;
}
.profile a{
    overflow:auto;
    padding-left: 20px;
    color: #3399FF;
}
.profile img {
    float: left;
    /*width: 18%;*/
    /*border-radius: 50%;*/
    margin-left: 15%;
  
}


/* COMMON
-------------------*/

.about
{
    margin-left: 15%;
}

h2{
    color: #BBEE11;
}

.about p{
    text-align: justify;
    margin-left: 2%;
    margin-right: 15%;
    color: #555555;
    line-height: 150%;
}

.research
{ 
    margin-left: 15%;
    margin-right: 10%;
    color: #555555;
}


.box{
    background-color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid #444444;
}

.right-content
{
    width: 60%;
    float: right;
}


.research h3{
    color: #666666;
}
.research ul{
    list-style-type: none;
}
.research li{
    text-decoration: none;
}
.research a{
    text-decoration: none;
    color: #3399FF;
    padding-left: 20px;
}
.research p{
    text-align: justify;
    color: #555555;
    line-height: 110%;
}
.research img {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}



/************************** CODE & PROJECTS**************************/
.code{
    margin-left: 15%;
    margin-right: 10%;
    color: #555555;
}
.code ul{
    list-style-type: none;
    margin-left: 15%;
}

.code a{

    text-decoration: none;
    color: #3399FF;
    overflow:auto;
    padding-left: 20px;
}

/*
.content-code
{

  width: 1200px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.code-wrap {
    background: #FFFFFE;  
    width: 700px;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0; 
}

.code ul{
 list-style-type: none;
}

.code p{
    text-align: justify;
    margin: 16px auto;
    width: 60%;
    color: #F92672;
}
.code li{
    color: #272822;
    font-size: 28px;
}

.code li:hover, li:focus {
    color: #F92672;
}

.code h2 {
  color: #272822;
  margin-left: 16%;
  margin-right: 16%;

  font-size: 36px;
  border-bottom: 2px solid 
}
*/

/* FOOTER 
--------------------*/

footer {
  clear: both;
    text-align: center;
  font-size: 12px;
  margin-top: 50px;
}



