/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

.content-web
{
  background: rgba(0, 0, 0, 0.8);
  width: 1200px;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}



body {
    background: rgba(0, 0, 0, 0.1);  /*background: #272822;*/
    font-family: 'Roboto', sans-serif;
    background-color: white
    line-height: 1.5;
    font-size: 16px;
    /*background: url(back.png) no-repeat fixed;*/
    background-position: 50%;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

/*  HEADER*/
header {
    font-family: 'Roboto', sans-serif;
    /*color: #63D1E6;*/
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.social{
    margin-left: -30%;
    margin-right: 10%;
    float:right;
    padding: 4px;
}

.social a {
    text-decoration:none;
    color:#FD971F;
    padding-left: 20px;
    /*font-size: 48px;*/
} 

.header a{
    text-align: right;
}

a:visited {
    text-decoration:none;
    color:#FD971F;
} 
a:link {
    text-decoration:none;
    color:#FD971F;
} 
a:hover {
    text-decoration:none;
    color:#E6DB74;
} 
a:active {
    text-decoration:none;
    color:#FD971F;
} 

h1 {
    font-size: 42px;
    color: #B3F431;
}


h2 {
    font-size: 32px;
    color: #F92672;
}


ul
{
    text-align: center;
}

li
{

}

p {
    color: #272822;
    text-align: justify;
    font-size: 32px;
}



/* ABOUT ME / PROFILE
----------------------*/
/* Fixes the clearing of floats on child elements - 
This class should be added to the parent element to 
force clear the floats of the child elements */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.profile {
  /*background: rgba(0, 0, 0, 0.8);*/
  color: #fff;
}

.profile h1{
    text-align: center;
}
.profile h2{
    text-align: center;
}
.profile img {
    float: right;
    width: 14%;
    margin-left: -20%;
    margin-right: 5%;
    padding: 4px;
    /*border: 1px solid #ddd;*/
    border-radius: 50%;
}


.profile p{
    margin-left: 16%;
    margin-right: 16%;
    color: #FFFFFF;
    line-height: 160%;
    font-size: 20px;
}

.profile .summary {
  float: left;
  width: 70%;
}

/************************** CODE & PROJECTS**************************/
.content-code
{
 /* background: rgba(0, 0, 0, 0.8);*/

  width: 1200px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.code-wrap {
    background: #FFFFFE;  
    width: 700px;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0; 
}

.code ul{
 list-style-type: none;
}

.code p{
    text-align: justify;
    margin: 16px auto;
    width: 60%;
    /*color: #FD971F;*/
    color: #F92672;
}
.code li{
    color: #272822;
    font-size: 28px;
}

.code li:hover, li:focus {
    color: #F92672;
}

.code h2 {
  color: #272822;
  font-size: 36px;
}


/* CONTACT & FOOTER 
--------------------*/
.contact {
  /*background: #111;*/
    color:#DDDCCC;
}
.contact p{
    text-align: right;
    color:#DDDCCC;
    font-size: 20px;
    margin-right: 5%;
}

.contact a{
    color:#EEEFFF;
    font-size: 20px;
}


footer {
  clear: both;
    text-align: center;
  font-size: 12px;
  margin-top: 50px;
}



